*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html{
    background-color: rgba(81,81,81,1);
}

body{
    color: white;
}

div.circle18{
    position: absolute;
    width: 240px;
    height: 240px;
    left: 1028px;
    top:60%;
    z-index: -50;
    border-radius: 50%;
    background: rgba(62, 139, 255, 0.1);
}

div.circle16{
    position: absolute;
    width: 280px;
    height: 271px;
    left: 281px;
    top: 30%;
    border-radius: 50%;
    z-index: -50;
    background: rgba(62, 139, 255, 0.1);
}

div.circle15{
    position: absolute;
    width: 420.71px;
    height: 407.51px;
    left: -109px;
    top: 90%;
    border-radius: 50%;
    z-index: -50;
    background: rgba(62, 139, 255, 0.1);
}

.odd-event h1{
    padding: 2rem 4rem;
    font-family: Adamina;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 111.08%;
    /* identical to box height, or 71px */
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.odd-event h1::before{
  display: inline-block;
  content: "";
  height: 2px;
  background: #ffffff;
  width: 78%;
  margin-right: 25px;
  margin-left: 0;
  transform: translateY(-20px);
}

.odd-event .container .text{
  grid-column: 2 / 4;
  grid-row: 3;
  margin-right: 50px;
}

.odd-event .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
}

.odd-event p {
    grid-column: 3 / 1;
    grid-row: 3;
    z-index: 1;
    padding-left: 20px;
    text-align: left;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 111.08%;
    /* or 27px */
    /* letter-spacing: -0.04em; */
    color: #ffffff;
}

.container .text{
  grid: 200%;
  float: right;
  text-align: right;
  z-index: 2;
}

.odd-event .img-box {
    grid-column: 2 / 4;
    grid-row: 1 / 6;
    background: #515151;
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.25),
      4px 4px 5px rgba(255, 255, 255, 0.25);
    border-radius: 21px;
    width: 542px;
    height: 641px;
    overflow: hidden;
    transform: translateX(-65%);
}

.odd-event .img-box img {
    width: 591px;
    height: 688.31px;
    transform: translateX(-30px);
}

.odd-event .quote-box {
    background: rgba(236, 189, 97, 0.55);
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.25),
      4px 4px 5px rgba(255, 255, 255, 0.25);
    border-radius: 21px;
    width: 314px;
    height: 379px;
    grid-column: 2;
    z-index: 1;
    grid-row: 5;
    transform: translate(35%, 10%);
}

.odd-event .quote-box p{
    text-align: center;
    padding: 80px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 111.08%;
    /* or 71px */
    letter-spacing: -0.04em;
    color: #462920;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.odd-event .quote-box  h4{
    padding:0 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 111.08%;
    /* or 27px */
    letter-spacing: -0.04em;
    color: #462920;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.odd-event > p{
  grid-column: 2/4;
  grid-row: 2;
  z-index: 1;
  text-align: right;
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 111.08%;
  /* or 27px */
  /* letter-spacing: -0.04em; */
  color: #ffffff;
}

button{
    grid-column: 3;
    grid-row: 5;
    margin-top: 40%;
    Width :305px;
    Height :70px;
    justify-self: center;
    transform: translateY(30%);
    border-radius: 21px;
    border: none;
    /* opacity: 0.2; */
    background-color: rgba(51,53,55,0.2);
    box-shadow: -4px -4px 5px rgba(120, 120, 120, 0.25), 4px 4px 5px rgba(120, 120, 120, 0.25);
    font-family: Abhaya Libre;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04em;
    text-align: center;
    color: white;
}

button:hover{
    background-color: rgba(51,53,55,0.05);
    cursor: pointer;
}

footer{
    margin-top: 10%;
    width: auto;
    height: 225px;
    background-color: #2E2F36;
}

footer > ul > li#Heading1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
    

footer ul li{
    list-style: none;
    padding: 5px;
    text-align: left;
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

footer > ul.quick-link{
    position: absolute;
    left: 47px;
}

footer > ul > li#Heading2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

footer > ul.contact{
    position: absolute;
    width: 219px;
    height: 136px;
    left: 385px;
}

footer > ul > li#Heading2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
    

footer > ul.contact > li,span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #C4C4C4;
}

footer > ul.follow{
    position: absolute;
    width: 219px;
    height: 46.99px;
    left: 685px;
}

footer > ul.follow > li > span.box{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #C4C4C4;
    border-radius: 9px;
}

footer > ul.follow > li#Heading3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

footer > ul.follow > li > span.box2{
    position: absolute;
    left: 72px;
    margin-top: 38px;
    width: 35px;
    height: 35px;
    background-color: #C4C4C4;
    border-radius: 9px;
}

.copyright{
    width: auto;
    height: 27px;
    background-color: #FFFFFF;
    color: rgba(46,47,54,1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 1025px){
  .odd-event .img-box{
    width: 65%;
  }

  .odd-event h1::before{
    display: inline-block;
    content: "";
    height: 2px;
    background: #ffffff;
    width: 75%;
    margin-right: 30%;
    margin-left: 0;
    transform: translateY(50px);
  }

  .odd-event p {
    font-size: 20px;
  }

  .odd-event .quote-box {
    width: 230px;
    height: 290px;
    transform: translate(25%, 10%);
  } 

  .odd-event .quote-box p{
    font-size: 35px;
  }
  
  button{
    font-size: 25px;
    width: 236px;
    /* transform: translateY(200%);
    grid-row: 4; */
  }

  footer{
    font-size: 25px;
    padding-top: 20px;
  }

  .design{
    display: none;
  }
}

@media screen and (max-width: 770px){
  
  .odd-event h1{
    padding: 0%;
    padding-top: 5%;
  }

  .odd-event h1::before{
    display: inline-block;
    content: "";
    height: 2px;
    background: #ffffff;
    width: 70%;
    margin-right: 25px;
    margin-left: 0;
    transform: translateY(-20px);
  }

  .odd-event h1{
    font-size: 50px;
    margin-right: 2rem;
  }

  .odd-event .container .text{
    text-align: right;
    grid-column: 1/4;
    padding-top: 5%;
  }

  .odd-event .container .text p {
    grid-row: 1;
    grid-column: 1 / 4;
    top: 0;
    margin-right: 100px;
    margin-right: 0;
    padding: 0%;
  }

  .odd-event .img-box {
    grid-row: 4/5;
    grid-column: 1/4;
    transform: translate(15px, 35px);
  }

  .odd-event .quote-box {
    width: 300px;
    height: 210px;
    grid-row: 4;
    grid-column: 3 / 4;
    margin-right: 70px;
    top:500px;
    width: 370px;
    height: 210px;
    transform: translate(20%, 40%);
  }

  .odd-event button {
    width: 265px;
    transform: translate(40px, 300%);
    grid-row: 4;
    background-color: rgba(51,53,55,1);
    width: 285px;
    margin-bottom: 65%;
    margin-top: 60%;
    margin-right: 20%;
    transform: translate(100px, 300%);
  }

  .odd-event .quote-box p {
    margin: 0;
    padding: 36px 10px;
  }

  footer, .copyright{
    width: 100%;
  }

  footer > ul.contact{
    position: absolute;
    left: 285px;
  }

  footer > ul.follow{
    position: absolute;
    left: 535px;
  }
}


@media screen and (max-width: 430px){

  .odd-event h1{
    font-size: 35px;
    padding: 2rem;
    margin-right: 0;
  }

  .odd-event h1::before{
    width :60%;
    transform: translate(10px, -10px);
  }

  .odd-event .quote-box .text p {
    margin: 0;
    padding: 36px 10px;
    width: 100px;
  }

  .odd-event .img-box {
    grid-row: 4/5;
    grid-column: 1/4;
    width: 90%;
    transform: translate(15px, 35px);
  }

  .odd-event .img-box img{
      width:120%;
  }

  .odd-event .quote-box{
    width: 300px;
    height: 200px;
    grid-row: 4;
    margin-top: 180%;
    margin-bottom: 0%;
    grid-column: 1/4;
    transform: translate(27px, -200px);
    } 

    .odd-event button {
      grid-row: 4;
      grid-column: 1;
      margin-right: 40%;
      margin-top: 170%;
    }

    footer{
      font-size: 30px;
      height: 650px;
    }
  
    footer > ul.contact{
      position: absolute;
      top: 350%;
      left: 47px;
    }
  
    footer > ul.follow{
      position: absolute;
      top: 390%;
      left: 47px;
    }

  }

@media screen and (max-width: 380px){
    .odd-event h1::before{
      width :60%;
      transform: translate(-90px, 30px);
    }

    .text{
      margin: 0;
      padding: 0;
      grid-column: 1;
      width: 100%;
    }

    .odd-event .quote-box {
      width: 260px;
      height: 215px;
      margin-top: 200%;
    }

    .odd-event button {
      grid-row: 4;
      width: 200px;
      grid-column: 1;
      margin-right: 50%;
      margin-top: 250%;
    }

    footer{
      height: 660px;
    }

    footer > ul.contact{
      top: 355%;
    } 

    footer > ul.follow{
      top: 400%;
    } 
}

@media screen and (max-width: 330px){
  .odd-event h1{
    padding-top: 0;
  }

  .odd-event .quote-box {
    width: 205px;
    height: 215px;
    margin-top: 250%;
  }

  .odd-event .quote-box p, .odd-event .quote-box h3{
    font-size: 30px;
    text-align: center;
  }

  .odd-event button {
    margin-right: 70%;
  }

  footer{
    height: 655px;
  }
}